<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Total de Deduções por Universidade e Instituto</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <div class="navbar">
      <a href="/"><p>Informações</p></a>
      <a href="/media"><p>Média</p></a>
      <a href="/remuneracao"><p>Remuneração</p></a>
      <a href="/deducoes"><p>Deduções Totais</p></a>
      <a href="/acima"><p>Acima da Média</p></a>
    </div>
  </header>

  <div class="page-container">
    <div class="content-wrap">
      <h1 class="title">Total de Deduções por Universidade</h1>
      <div style="width: 80%; height: 100%;">
        <canvas id="barChart" width="1000" height="500"></canvas>
      </div>
    </div> 
    <footer>
      Desenvolvido por Nicolas, Pedro e Tsai - 2023.
    </footer>
  </div>
  
  <script>
    // Dados vindos do servidor
    var results = JSON.parse('<%- JSON.stringify(results) %>');
    var universidades = Array.from(new Set(results.map(result => result.NomeUniversidade))); 
    
    // Calcular o total de deduções por universidade
    var totalDeducoesPorUniversidade = results.reduce((acc, result) => {
      if (!acc[result.NomeUniversidade]) {
        acc[result.NomeUniversidade] = 0;
      }
      acc[result.NomeUniversidade] += result.TotalDeducoes;
      return acc;
    }, {});

    var datasets = [{
      label: 'Total de Deduções',
      data: Object.values(totalDeducoesPorUniversidade),
      backgroundColor: Object.keys(totalDeducoesPorUniversidade).map(universidade => getRandomColor()),
      labelColor: 'rgba(255, 255, 255, 1)',
      borderColor: 'rgba(255, 255, 255, 1)',
      borderWidth: 1,
    }];

    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    var ctx = document.getElementById('barChart').getContext('2d');

    var barChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: Object.keys(totalDeducoesPorUniversidade),
        datasets: datasets,
      },
      options: {
        legend: {
          display: false,
        },
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Total de Deduções',
            },
          },
          x: {
            title: {
              display: true,
              text: '',
            },
          },
        },
      },
    });
  </script>

</body>
</html>
