<!DOCTYPE html>
<html>
<head>
  <title>Remuneração de Professores</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/servidores">Servidores</a></li>
      </ul>
    </nav>  
  </div>
  <h1>Professores</h1>

  <script>
    var teste = JSON.parse('<%- JSON.stringify(teste) %>');
    console.log(teste)
  </script>
</body>
</html>
